
@import "~react-responsive-carousel/lib/styles/carousel.min.css";

.hero-section {
  position: relative;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
}

/* Carousel Image Styling */
.carousel .slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  transition: transform 0.8s ease; /* Smooth transition */
}

/* Hero Overlay Text */
.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-gray);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
}

.hero-overlay h1 {
  font-size: var(--font-size-h1);
  color: var(--accent-color);
  margin-bottom: 10px;
}

.hero-overlay p {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: calc(var(--font-size-h1) - 10px);
  }
  .hero-overlay p {
    font-size: 1rem;
  }
}

/* Custom Arrow Styling */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: var(--light-gray);
  width: 45px;
  height: 45px;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.custom-arrow:hover {
  background: rgba(0, 0, 0, 0.6);
}

.custom-arrow-prev {
  left: 15px;
}

.custom-arrow-next {
  right: 15px;
}
