/* Header.module.css */

.header {
  background-color: var(--background-color);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.logoWrapper {
  flex: 0 1 auto; /* Prevents the logo from growing too large */
}

.logoImage {
  max-width: 80px; /* Set maximum width for the logo */
  height: auto; /* Maintain aspect ratio */
}
.headerTitle {
  color: var(--secondary-color);
}
